<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372245167140-e125hd8kse2nim4agj3ftukateqrhr8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372245167140-e125hd8kse2nim4agj3ftukateqrhr8i</string>
	<key>API_KEY</key>
	<string>AIzaSyD2uHD0WzzrYvaDWbfOn-JttjNmOuXWuuM</string>
	<key>GCM_SENDER_ID</key>
	<string>372245167140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anikinatatyana.productlist</string>
	<key>PROJECT_ID</key>
	<string>product-list-69a98</string>
	<key>STORAGE_BUCKET</key>
	<string>product-list-69a98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372245167140:ios:0b724d3ff56f0b21a9ecb1</string>
	<key>DATABASE_URL</key>
	<string>https://product-list-69a98.firebaseio.com</string>
</dict>
</plist>